* {
  padding: 0;
  margin: 0;
}

html,
body {
  overflow: hidden;
  height: 100%;
}

body {
  position: relative;
}
.webgl {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  outline: none;
}
.loadingBar {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.5s;
  will-change: transform;
}

.loadingBar.ended {
  transform: scaleX(0);
  transform-origin: top right;
  transition: transform 1.5s ease-in-out;
}
.score {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: 25px;
  font-size: 24px;
  font-family: "monospace", Tahoma, Geneva, Verdana, sans-serif;
}
.score h4 {
  color: black !important;
}

.cannonBalls {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 60px;
  margin-left: 120px;
  font-size: 21px;
  font-family: "monospace", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}

.cannonBallsImage {
  background: url("./icons/cannonballs.png") no-repeat 100px 100px;
  position: absolute;
  width: auto;
  height: 196px;
  left: 0;
  background-size: 50px 50px;
  bottom: 0;
  right: 0;
  margin-left: -40px;
}

@media screen and (max-width: 425px) {
  .cannonBallsImage {
    margin-left: -68px;
    margin-bottom: -10px;
    background-size: 35px 35px;
  }
  .cannonBalls {
    margin-left: 81px;
    color: white;
    font-size: 15px;
  }
}
.targetInfo {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 60px;
  margin-left: 268px;
  font-size: 21px;
  font-family: "monospace", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}

.targetImage {
  background: url("./icons/target.png") no-repeat 100px 100px;
  position: absolute;
  width: auto;
  height: 196px;
  left: 0;
  background-size: 50px 50px;
  bottom: 0;
  right: 0;
  margin-left: 100px;
}

.gameFinshedLayout {
  position: absolute;
}

@media screen and (max-width: 425px) {
  .targetImage {
    margin-left: -68px;
    margin-bottom: 58px;
    background-size: 35px 35px;
  }
  .targetInfo {
    margin-left: 81px;
    margin-bottom: 127px;
    color: white;
    font-size: 15px;
  }
}

.gameFinshedLayout {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;

  margin: 0 auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: wheat;
  height: 400px;
  width: -webkit-fill-available;
  background-color: #161616ed;
  padding: 28px;
}

.playAgain {
  margin: 0 auto;
  background-color: #c84b31;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 79px;
  cursor: pointer;
}

.status {
  font-size: 85px;
  font-family: "Tahoma", Tahoma, Geneva, Verdana, sans-serif;
  font-family: monospace;
  margin-top: 57px;
}
.footer {
  margin-top: 44px;
  color: white;
  font-family: monospace;
}

@media screen and (max-width: 425px) {
  .gameFinshedLayout {
    height: 100vh;
  }
}
